@import 'mixins';
.header {
  @include background-image('../images/desktop/image-header.jpg');
  color: $white;
  min-height: 100vh;
  @media screen and (max-width: 675px) {
    background-image: url('../images/mobile/image-header.jpg');
  }
  nav {
    padding: 1.5rem 3rem;
  }
  &__logo {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 900;
    color: $white;
  }
  &__menu {
    display: none;
    @media screen and (max-width: 900px) {
      display: block;
    }
    > span {
      display: block;
      width: 24px;
      height: 2px;
      background-color: $white;
    }
    & span:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__links {
    a {
      text-decoration: none;
      color: $white;
      padding: 0.8rem 1.3rem;
      border-radius: 50px;
      transition: all 300ms ease-in-out;
      &:hover {
        background-color: hsl(189, 81%, 67%);
      }
      &:active {
        color: black;
        background-color: $white;
      }
    }
    a:not(:last-child) {
      margin-right: 2.8125rem;
    }
    &--mobile {
      z-index: 99;
      width: 90%;
      a {
        display: block;
        padding: 1.5rem;
        color: gray;

        &:hover {
          color: #222;
        }
      }
      background-color: $white;
      padding: 3rem;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  &__title {
    font: 900 3rem 'Fraunces', serif;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 5px;
  }

  &__arrow {
    cursor: pointer;
    font-size: 7rem;
    text-align: center;
    margin-top: 50px;

    &:hover {
      transition: transform 0.2s ease-in-out;
      transform: translateY(10px);
    }
  }
}
