body {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

h1,
li {
  text-align: left;
}

li {
  margin: 1em 0;
}
