*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 32px;
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.app {
  max-width: 800px;
  width: 35%;
  min-width: 365px;
}
