@import './variables';

html{
    font-size: 13px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3,h4{
    color: $white;
    font-size: 1.13rem;
    line-height: 1.3;
}

p{
    color: $lg-gray;
    font-size: 1rem;
    line-height: 1.3;
}

.card{
    padding:2rem;
    border-radius: 8px;
    display: flex;
    background-color: $md-violet;
    &-fd-c{
        flex-direction: column;
    }

    &-jc-fs{
        justify-content:flex-start;
    }

    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }

    &-violet{
        background-color: $md-violet;
    }
    &-blue1{
        background-color: $drg-blue;
    }
    &-blue2{
        background-color: $drb-blue;
    }

    &-white{
        background-color: $white;
    }
}


.avatar{

    display: flex;
    margin-bottom: 1rem;

    &__img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 1rem;
    }

}

.heading{
    margin-bottom: 1.5rem;
    z-index: 999;

    &-g-blue{
        color: $drb-blue;
        opacity: 0.8;
    }


}

.content{
    margin-bottom: 1.5rem;
    opacity: .8;
    z-index: 999;

    &-b-blue{
        color: $drg-blue;
    }
}

.content::before{
    content: open-quote;
}

.content::after{
    content: close-quote;
}

.quote{
    position: absolute;
    top: 0;
    right: 4rem;
}