// Primary 
$md-violet:hsl(263,55%,52%);
$drg-blue:hsl(217,19%,35%);
$drb-blue:hsl(219,29%,14%);
$white:hsl(0,0%,100%);
// Neutral
$lg-gray:hsl(0,0%,81%);
$lg-blue:hsl(210,46,95%);

// body copy
$font-size:13px;
