//Layout 
$mobile:375px;
$desktop:1440px;

// Colors
// primary

$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
//(graphic design text)
$Dark-desaturated-cyan : hsl(167, 40%, 24%);
// (photography text)
$Dark-blue : hsl(198, 62%, 26%);
// (footer)
$Dark-moderate-cyan : hsl(168, 34%, 41%);

// ### Neutral
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
