<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <link rel="stylesheet" href="style.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap"
      rel="stylesheet"
    />

    <title>Frontend Mentor | Testimonials Grid</title>
  </head>

  <body>
    <div class="container">
      <div class="card bg-violet relative">
        <div class="flex items-center">
          <img
            src="./images/image-daniel.jpg"
            class="card__avatar"
            alt="daniel"
          />
          <div class="card__content">
            <p class="text-white">Daniel Clifford</p>
            <p class="text-50">Verified Graduate</p>
          </div>
        </div>
        <p class="review text-white">
          I received a job offer mid-course, and the subjects I learned were
          current, if not more so, in the company I joined. I honestly feel I
          got every penny’s worth.
        </p>
        <p class="quotation-review text-70">
          I was an EMT for many years before I joined the bootcamp. I’ve been
          looking to make a transition and have heard some people who had an
          amazing experience here. I signed up for the free intro course and
          found it incredibly fun! I enrolled shortly thereafter. The next 12
          weeks was the best - and most grueling - time of my life. Since
          completing the course, I’ve successfully switched careers, working as
          a Software Engineer at a VR startup.
        </p>

        <img
          src="./images/bg-pattern-quotation.svg"
          alt="quote"
          class="quote absolute"
        />
      </div>
      <div class="card bg-blue">
        <div class="flex items-center">
          <img
            src="./images/image-jonathan.jpg"
            class="card__avatar"
            alt="jeanette"
          />
          <div class="card__content">
            <p class="text-white">Jonathan Walters</p>
            <p class="text-50">Verified Graduate</p>
          </div>
        </div>
        <p class="review text-white">
          The team was very supportive and kept me motivated
        </p>
        <p class="quotation-review text-70">
          I started as a total newbie with virtually no coding skills. I now
          work as a mobile engineer for a big company. This was one of the best
          investments I've made in myself.
        </p>
      </div>
      <div class="card bg-white">
        <div class="flex items-center">
          <img
            src="./images/image-jeanette.jpg"
            class="card__avatar"
            alt="jeanette"
          />
          <div class="card__content">
            <p>Jeanette Harmon</p>
            <p>Verified Graduate</p>
          </div>
        </div>
        <p class="review">An overall wonderful and rewarding experience</p>
        <p class="quotation-review">
          Thank you for the wonderfull experience! I now have a job I really
          enjoy and ake a good living while doing something I love.
        </p>
      </div>
      <div class="card bg-black">
        <div class="flex items-center">
          <img src="./images/image-patrick.jpg" class="card__avatar" alt="" />
          <div class="card__content">
            <p class="text-white">Patrick Abrams</p>
            <p class="text-50">Verified Graduate</p>
          </div>
        </div>
        <p class="review text-white">
          Awesome teaching support from TAs who did the bootcamp themselves.
          Getting guidance from them and learning from their experiences was
          easy.
        </p>
        <p class="quotation-review text-70">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque
          tempora reiciendis quisquam enim mollitia nihil, reprehenderit quam
          explicabo iste magnam, eius natus beatae quibusdam ducimus amet
          sapiente unde impedit incidunt eum? Rem, vel non, exercitationem
          similique laboriosam in omnis minima quis quia nulla vitae obcaecati
          fugiat quibusdam repellendus officia! In!
        </p>
      </div>
      <div class="card bg-white">
        <div class="flex items-center">
          <img src="./images/image-kira.jpg" class="card__avatar" alt="" />
          <div class="card__content">
            <p>Kira Whittle</p>
            <p class="">Verified Graduate</p>
          </div>
        </div>
        <p class="review">
          Such a life-changing experience. Highly recommended!
        </p>
        <p class="quotation-review">
          Before joining the bootcamp, I’ve never written a line of code. I
          needed some structure from professionals who can help me learn
          programming step by step. I was encouraged to enroll by a former
          student of theirs who can only say wonderful things about the program.
          The entire curriculum and staff did not disappoint. They were very
          hands-on and I never had to wait long for assistance. The agile team
          project, in particular, was outstanding. It took my learning to the
          next level in a way that no tutorial could ever have. In fact, I’ve
          often referred to it during interviews as an example of my developent
          experience. It certainly helped me land a job as a full-stack
          developer after receiving multiple offers. 100% recommend!
        </p>
      </div>
    </div>
  </body>
</html>
